.header {
  height: 80px;
  background-color: firebrick;
}

.link {
  text-decoration: none;
  color: white;
  height: 20px;
}

.active_link {
  background-color: chocolate;
}

.nav {
  height: 100%;
  width: 30%;
  align-items: center;
  list-style: none;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}
